boto3
botocore
pandas
numpy
torch
Flask
uv                                  
np                                       
py                                   
jq                                                                        
bs4                                    
mcp
fitz
PyPDF2
xlwt
s3fs
pydub 
httpx
pypdf
mem0ai
bandit
pillow
pylint
plotly
fastapi
PyMuPDF
fastmcp
pybase64
pydantic
strands-agents
strands-agents-tools
strands-agents-builder
streamlit
